<ion-view  title='<div class="customize-header"> <h4>Good Morning!</h1>
                                                
                </div>
                <img  class="header-img" src="http://i2.mirror.co.uk/incoming/article5423743.ece/ALTERNATES/s615b/MOST-BEAUTIFUL-FACES.jpg">'>
    <div class="bar bar-subheader extended-subheader">
        <h4>Day 3</h4>
        <h1>Wednesday</h1>
        <h6>Febraury 10, 2017</h6>
        <a class="icon-right ion-ios-arrow-left" href="#/app/day2"></a>
    </div>
   <ion-content class="has-extended-header">
        <div class="list">
            <a class="item item-avatar item-icon-left customize-item" href="#">
                <div>
                    <h3>Breakfast</h2>
                    <p>Hotel restaurant</p>
                </div>
                <span class="item-note"> 8-10am</span>
            </a>
            <a class="item item-avatar item-icon-left customize-item" href="#">
                <div>
                    <h3>Build the House</h2>
                </div>
                <span class="item-note">10-12pm</span>
            </a>
            <a class="item item-avatar item-icon-left customize-item" href="#">
                <div>
                    <h3>Lunch Break</h2>
                    <p>Hotel restaurant</p>
                </div>
                <span class="item-note">13-15pm</span>
            </a>
            <a class="item item-avatar item-icon-left customize-item" href="#">
                 <div>
                    <h3>Training-Constructive Teamplay</h2>
                    <p>Conference Room 401</p>
                    <img  src="http://i2.mirror.co.uk/incoming/article5423743.ece/ALTERNATES/s615b/MOST-BEAUTIFUL-FACES.jpg">
                </div>
                <span class="item-note">15-17pm</span>
            </a>
            <a class="item item-avatar item-icon-left customize-item" href="#">
                <div>
                    <h3>Prepare the big fire</h2>
                    <p>Outside Garden</p>
                </div>
                <span class="item-note">17-20pm</span>
            </a>
        </div>
    </ion-content>
</ion-view>