<ion-modal-view>
      
    <ion-content padding="true" class="log-in">
        <div class="header-button buttons">
            <a  class="icon-left ion-ios-arrow-thin-left" ng-click="closeForgetPassword()"></a>
        </div>
        <div class="image-container">
            <img src="img/Logo_Centric_L_FC_without.png">
        </div>
        <div class="form-container forget-container">
            <form id="login-form2" class="list">
                <label class="item item-input" id="login-input2">
                    <div class="form-icon">
                        <a menu-close="" class="ion-ios-person-outline"></a>
                    </div>
                    <input type="email" placeholder="Email">
                </label>
            </form>
            <button id="login-button1" ng-click="closeForgetPassword()" class="button button-block ">Send</button>
        </div>

    </ion-content>
</ion-modal-view>