<ion-modal-view>
    <ion-content padding="true" class="log-in" ng-controller="LoginCtrl as login">
        <div class="image-container">
            <img src="img/Logo_Centric_L_FC_without.png">
        </div>

        <div class="form-container">
            <div class="card" ng-if="loginWrong">
                <div class="item item-text-wrap">
                   {{ errorMessage }}
                </div>
            </div>
            <form id="login-form2" class="list">
                <label class="item item-input" id="login-input2">
                    <div class="form-icon">
                        <a menu-close="" class="ion-ios-person-outline"></a>
                    </div>
                    <input type="text" placeholder="Username" ng-model="loginUsername" required>
                </label>
                <label class="item item-input" id="login-input3">
                    <div class="form-icon">
                        <a menu-close="" class="ion-ios-locked-outline"></a>
                    </div>
                    <input type="password" placeholder="Password" ng-model="loginPassword" required>
                </label>
            </form>
            <button id="login-button1" class="button button-block" ng-click="doLogin()" href="#/app/home">Login</button>
        </div>
        <div id="login-button-bar1" class="button-bar">
            <button id="login-button6" class="button button-clear button-light button-block" ng-click="showSignin()">Create Account</button>
            <button id="login-button8" class="button button-clear button-light  button-block" ng-click="showForgetPassword()">Forgot Password</button>
        </div>
    </ion-content>
</ion-modal-view>