<ion-view view-title='<h4 class="header-title">Settings</h4>'>
    <ion-header-bar class="extended-subheader settings-subheader">
        <img class="custom-header-img" src="http://i2.mirror.co.uk/incoming/article5423743.ece/ALTERNATES/s615b/MOST-BEAUTIFUL-FACES.jpg">
    </ion-header-bar>
    <ion-content class="settings-extended-header">
        <form id="signIn-form4" class="list">
            <label class="item item-input" id="signIn-input6">
                <div class="form-icon">
                    <a menu-close="" class="ion-ios-person-outline"></a>
                </div>
                <input type="text" placeholder="Alexandru Minzatanu">
            </label>
            <label class="item item-input" id="signIn-input7">
                <div class="form-icon">
                    <a class="icon-right ion-ios-email-outline"></a>
                </div>
                <input type="email" placeholder="alexandru.minzatanu@gmail.com">
            </label>
            <label class="item item-input" id="signIn-input8">
                <div class="form-icon">
                    <a class="icon-right ion-ios-locked-outline"></a>
                </div>
                <input type="password" placeholder="********">
            </label>
            <label class="item item-input" id="signIn-input9">
                <a class="icon-right ion-ios-calendar-outline"></a>
                <input type="date" placeholder="30-01-1992">
            </label>
            <label class="item item-input" id="signIn-input10">
                <div class="form-icon">
                    <a class="icon-right ion-transgender"></a>
                </div>
                <input type="text" placeholder="male">
            </label>
        </form>
        
    </ion-content>
</ion-view>