<ion-view view-title="Day 3">
    <ion-header-bar>
        <h1 class="title">Day 3</h1>
        <div class="buttons">
            <button class="button button-clear button-dark" ng-click="closeDay(3)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar item-icon-left" href="#">
                <img src="http://icons.iconarchive.com/icons/icons-land/3d-food/256/Breakfast-icon.png">
                <h2>Breakfast</h2>
                <p>Hotel restaurant</p>
                <span class="item-note">
      8-10am
    </span>
            </a>
            <a class="item item-avatar item-icon-left" href="#">
                <img src="http://icons.iconarchive.com/icons/icons-land/3d-food/256/Breakfast-icon.png">
                <h2>Breakfast</h2>
                <p>Hotel restaurant</p>
                <span class="item-note">
      8-10am
    </span>
            </a>
            <a class="item item-avatar item-icon-left" href="#">
                <img src="http://icons.iconarchive.com/icons/icons-land/3d-food/256/Breakfast-icon.png">
                <h2>Breakfast</h2>
                <p>Hotel restaurant</p>
                <span class="item-note">
      8-10am
    </span>
            </a>
        </div>
    </ion-content>
</ion-view>