<ion-view view-title="Settings">
    <ion-content>
        <form id="signIn-form4" class="list">
            <label class="item item-input" id="signIn-input6">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Alexandru Minzatanu">
      </label>
            <label class="item item-input" id="signIn-input7">
        <span class="input-label">Email</span>
        <input type="email" placeholder="alexandru.minzatanu@gmail.com">
      </label>
            <label class="item item-input" id="signIn-input8">
        <span class="input-label">Password</span>
        <input type="password" placeholder="********">
      </label>
            <label class="item item-input" id="signIn-input9">
        <span class="input-label">Birthday</span>
        <input type="date" placeholder="30-01-1992">
      </label>
            <label class="item item-input" id="signIn-input10">
        <span class="input-label">Gender</span>
        <input type="text" placeholder="male">
      </label>
        </form>
        <button id="signIn-button9" class="button button-positive  button-block">Sign in</button>
    </ion-content>
</ion-view>