<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create Account</h1>
        <div class="buttons">
            <button class="button button-clear button-dark" ng-click="closeSignin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form id="signIn-form4" class="list">
            <label class="item item-input" id="signIn-input6">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
            <label class="item item-input" id="signIn-input7">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
            <label class="item item-input" id="signIn-input8">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
            <label class="item item-input" id="signIn-input9">
        <span class="input-label">Birthday</span>
        <input type="date" placeholder="">
      </label>
            <label class="item item-input" id="signIn-input10">
        <span class="input-label">Gender</span>
        <input type="text" placeholder="">
      </label>
        </form>
        <button id="signIn-button9" class="button button-positive  button-block">Create Account</button>
    </ion-content>
</ion-modal-view>